{% extends "base.html" %}
{% block title %} 图书主页 {% endblock %}

{% block link %}
	<a href="{% url 'manager:book_manage' %}"> 返回  </a> | 
	{% if book %}
	<a href="{% url 'manager:book_modify' book.id %}"> 修改 </a>
	{% endif%}
{% endblock %}
{% block body  %}
	<h2> 图书信息 </h2>
	{% if book %}
	<li> ISBN            	{{book.isbn}} </li>
	<li> 书名        		{{book.title}} </li>
	<li> 作者        		{{book.author}} </li>	
	<li> 出版社     	{{book.press}} </li>
	<li> 出版日期   	{{book.pub_time}} </li>
	{% endif %}
	<h2 > 借阅信息 </h2>
	{% if his  %}
	<li> 借阅者姓名 {{his.user.username}}</li>
	<li> 借阅日期  {{his.bor_time}}</li>
	<li> 还书日期  {{his.re_time}}</li>
	<form action="{% url 'manager:bookdetail' book.id %}" method=post>
		{% csrf_token %}
	  <div class=actions>
	    <input type=submit value="归还">
	    </div>
	</form>
	{% else %}
	<li> 无 </li> 
	{% endif %}
{% endblock %}
