{% extends "base.html" %}
{% block title %} 个人信息修改 {% endblock %}
{% block link %} 
	<a href="{% url 'books:userinfo' %}"> 返回 </a>
{% endblock %}
{% block body %}
	{% if error %}
	<div class=error>
	  <strong>Errror : </strong> {{error}}
	</div>
	{% endif %}  
	<form action="" method=post>
		{% csrf_token %}
	  <dl>
	    <dt>用户名:</dt>
	    <dd><input type=text name=username size=30 value='{{user.username}}' required> </dd>	
	    <dt>请输入新密码(不输入就是不修改):</dt>
	    <dd><input type=password name=password size=30> </dd>
	    <dt>学院:</dt>
	    <dd><input type=text name=college size=30 value={{user.college}}> </dd>
	    <dt>学号:</dt>
	    <dd><input type=text name=sno size=30 value='{{user.sno}}' required> </dd>
	    <dt>邮箱:</dt>
	    <dd><input type=email name=email size=30 value={{user.email}}> </dd>
	  </dl>
	  <div class=actions><input type=submit value="确定"></div>
	</form>

{% endblock %}
