<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>英雄编辑</title>
</head>
<body>
    <div class="container">
        <p>欢迎来到英雄编辑界面</p>
		<form action="{% url 'booktest:editherohandle' hero.id %}" method="post">
			<ul>
				<li>英雄名称：<input type="text" name="hname" value="{{hero.hname}}" required /></li>
				<li>
					英雄性别：
					{% if hero.hgender == True %}
						<input type="radio" value="男" name="hgender" checked />男
						<input type="radio" value="女" name="hgender" />女
					{% else %}
						<input type="radio" value="男" name="hgender" />男
						<input type="radio" value="女" name="hgender" checked />女
					{% endif %}
				</li>
				<li>英雄技能：<input type="text" value="{{hero.hcontent}}" name="hcontent" /></li>
			</ul>
			
			<input type="submit" value="编辑"/>
		</form>
        <a href="{% url 'booktest:bookdetail' hero.hbook.id %}">返回图书详情界面</a>
    </div>

</body>
</html>