<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} 基础模板 {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

    <div class="header">
        {% block header %}
        头部信息
        {% endblock %}
    </div>


    <div class="content">

        <div class="left">
            {% block left %}
            左侧信息
            {% endblock %}
        </div>



        <div class="right">
            {% block right %}
            右侧信息
            {% endblock %}
        </div>

    </div>

    {% block footer %}
        <div class="footer">
            底部信息
        </div>
    {% endblock %}

</body>
</html>